@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000000;
  background: #ffffff;
  font-family: var(--font-inter), var(--font-noto-sans-devanagari),
    -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html[data-lang="ne"] .lang-en {
  display: none !important;
}

html[data-lang="en"] .lang-ne {
  display: none !important;
}
